body, html {
    height: 100%;
    margin: 0;
}

.container-full {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
}

.row-full {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-full {
    width: 100%;
    padding: 15px; /* Adjust as needed */
}


#logo {
    width: 100%;
    height: 100%;
}

h1 {
    font-family: "Times New Roman";
}

i{
    padding: 10px;
    height: 100px;
    width: 100px;
}
.card {
    height: 100%;
    width: 100%;
}
.card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}